/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Crimson+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&display=swap');

/* Define CSS variables for color scheme */
:root {
  --primary-color: #75B9BE;
  --secondary-color: #FBB13C;
  --text-color: #FE6847;;
}

/* General Styles */
body {
  font-family: 'Acme', sans-serif;
  color: var(--text-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero img {
  position: relative;
}


/* Header Styles */
header {
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
}

header img {
  max-width: 100%;
  height: auto;
}

nav {
  display: flex;
  justify-content: space-around;
}

nav a {
  color: white;
  text-decoration: none;
}

/* Main Styles */
main {
  max-width: 800px;
  margin: 20px auto;
}

/* Hero Container Styles */
.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--primary-color);
  font-size: 2.5em;
}

.hero article {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  text-align: center;
}

.hero article img {
  float: right;
  margin-left: 20px;
}

/* Footer Styles */
footer {
  background-color: var(--secondary-color);
  color: white;
  text-align: center;
  padding: 10px;
}

/* Social Links Styles */
.sociallinks {
  list-style: none;
  padding: 0;
}

.sociallinks a {
  text-decoration: none;
}

.sociallinks img {
  max-width: 30px;
  height: auto;
  margin: 0 10px;
}